
body {
  overscroll-behavior-y: none;
}

#root {
  height: 100vh;
}

.header-icon {
  height: 34px;
  width: 34px;
  border-radius: 8px;
  border-width: 3px;
  border-color: #ff0000;
}

.header-icon:hover {
  background-color: #ddd;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.7s cubic-bezier();
}

.clickable:hover {
  cursor: pointer;
}


.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.main-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  row-gap: 20px;
}
